:root {
    /* CSS HEX */
    --cardinal: #c52233ff;
    --white: #ffffffff;
    --butterscotch: #df9a57ff;
    --lapis-lazuli: #336699ff;
    --kelly-green: #3ec300ff;
    --bg-img: url('/bg.png');
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gothic A1', 'Arial', sans-serif;
}

* {
    margin: 0;
    margin-left: 12px;
}