:root {
    /* CSS HEX */
    --cardinal: #c52233ff;
    --white: #ffffffff;
    --butterscotch: #df9a57ff;
    --lapis-lazuli: #336699ff;
    --kelly-green: #3ec300ff;
    --background-image-url: url('https://cdn.pixabay.com/photo/2021/10/31/15/25/christmas-6757817_960_720.png');
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gothic A1', 'Arial', sans-serif;
}

* {
    margin: 0;
}