name: Deploy to Dev environment

permissions:
  id-token: write
  contents: read

on:
  workflow_dispatch:
    
  push:
      branches:
        - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Authenticate with AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ap-southeast-2
          role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/GHA-SecretSanta

      - name: install cdk
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm
      
      - run: npm install -g aws-cdk
      - run: cdk deploy --require-approval never
